<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/main.css' />
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <p>Welcome,  <strong><%= stripeEmail %></strong></p>
      <p>Payment-id: <strong><%= stripeToken %></strong></p>
      <p>Payment-type: <strong><%= stripeTokenType %></strong></p>
    </main>
  </body>
</html
